ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
pytest
python-dotenv
ruff
scikit-learn
tqdm
typer
seaborn
matplotlib
joblib
plotly
streamlit
xgboost
pydantic
fastapi
lightgbm
uvicorn
openai
requests
httpx